<header class="hero-unit" id="banner">
  <div class="container">
    <h1>BEACH - Data Collection Website</h1>
    <p class="lead">(Bettering the Evaluation And Care Health) - Morbidity and Treatment Survay - National</p>
    <img src="assets/images/usydneylogo.png" alt="I'm Yeoman" width="35" height="40"><small> The University of Sydney</small>
  </div>
</header>

<div class="container">

  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">BEACH Form</h1>
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label class="control-label col-sm-2" for="encnumber">Encounter Number:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="encnumber" placeholder="Encounter Number" ng-model="$ctrl.encnum">
            <span class="help-block">001-108</span>
          </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="starttm">Start time:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="starttm" placeholder="Start time" ng-model="$ctrl.starttime">
            <span class="help-block">1:30 PM</span>
          </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="finishtm">Finish time:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="finishtm" placeholder="Finish time" ng-model="$ctrl.finishtime">
            <span class="help-block">2:30 PM</span>
          </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="encdate">Date of Encounter:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="encdate" placeholder="Date of Encounter" ng-model="$ctrl.encdate">
            <span class="help-block">dd/mm/yyyy</span>
          </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="medicare">Medicare Item Nos:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="medicare" placeholder="Item Nos" ng-model="$ctrl.medicare">
            <span class="help-block">10993 or NHV-B</span>
          </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="sel1">Non-Medicare:</label>
          <div class="col-sm-4">
            <select class="form-control placeholder" id="sel1" ng-model="$ctrl.nonmedicare">
              <option value="" hidden="hidden">Choose here</option>
              <option value="1">Workers comp paid</option>
              <option value="2">State Govt/Other paid</option>
              <option value="3">No Charge</option>
            </select>
          </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary" ng-click="$ctrl.addThing()">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">GP activities</h1>
      <div ng-repeat="b in $ctrl.beach">
        <div class="panel panel-default">
          <div class="panel-heading">
              <h3 class="panel-title">{{b.encnum}}</h3>
          </div>
          <div class="panel-body">
              Date of encounter: {{b.encdate}}<br>
              Start time: {{b.starttime}}<br>
              Finish time: {{b.finishtime}}<br>
              Medicare: {{b.medicare}}<br>
              Non-Medicare: {{b.nonmedicare}}<br>
              <div class="col-sm-6">
                <div class="panel panel-default">
                  <div class="panel-heading">
                      <h3 class="panel-title">Patient</h3>
                  </div>
                  <div class="panel-body">
                    Sex:{{b.patient.sex}}<br>
                    Postcode: {{b.patient.post}}<br>
                    Date of Birth: {{b.patient.dob}}<br>
                    Seen by GP: {{b.patient.seenbygp}}<br>
                    Height: {{b.patient.height}}<br>
                    Weight: {{b.patient.weight}}<br>
                    Smoking status: {{b.patient.smoking}}<br>
                    Drink alcohol: {{b.patient.drinking}}<br>
                    How many 'standard' drinks?: {{b.patient.drinks}}<br>
                    Equal or more than 6 standard drinks: {{b.patient.moredrink}}<br>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="panel panel-default">
                  <div class="panel-heading">
                      <h3 class="panel-title">New Referral, Admissions</h3>
                  </div>
                  <div class="panel-body">
                    Specialist:<br>
                    Problem related:
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="panel panel-default">
                  <div class="panel-heading">
                      <h3 class="panel-title">Imaging/Other test</h3>
                  </div>
                  <div class="panel-body">
                    Name:<br>
                    Body site:<br>
                    Problem related:
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="panel panel-default">
                  <div class="panel-heading">
                      <h3 class="panel-title">Pathology</h3>
                  </div>
                  <div class="panel-body">
                    Name:<br>
                    Problem related:
                  </div>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="panel panel-default">
                  <div class="panel-heading">
                      <h3 class="panel-title">Reasons for Encounter</h3>
                  </div>
                  <div class="panel-body">
                    Number:<br>
                    Name:<br>
                    Diagnosis:<br>
                    Procedure: (with Prac Nurse)<br>
                    Drug: (Strength, Dose, Frequency, No Rpts, OTC, GP Supply, Drug status)<br>
                    Problem Status:<br>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
